In [1]:
#coding:utf8
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#创建对象，通过传递一个List来创建Series，pandas会默认创建整型索引
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
#传递日期索引来创建DataFrame
dates = pd.date_range('20220725',periods=36,freq='M')
dates

DatetimeIndex(['2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31',
               '2022-11-30', '2022-12-31', '2023-01-31', '2023-02-28',
               '2023-03-31', '2023-04-30', '2023-05-31', '2023-06-30',
               '2023-07-31', '2023-08-31', '2023-09-30', '2023-10-31',
               '2023-11-30', '2023-12-31', '2024-01-31', '2024-02-29',
               '2024-03-31', '2024-04-30', '2024-05-31', '2024-06-30',
               '2024-07-31', '2024-08-31', '2024-09-30', '2024-10-31',
               '2024-11-30', '2024-12-31', '2025-01-31', '2025-02-28',
               '2025-03-31', '2025-04-30', '2025-05-31', '2025-06-30'],
              dtype='datetime64[ns]', freq='M')

In [5]:
dates.dtype

dtype('<M8[ns]')

In [6]:
print(dates.dtype)

datetime64[ns]

In [7]:
#根据numpy array以及列标签创建DataFrame
df = pd.DataFrame(np.random.randn(36,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2022-07-31 -1.271262 -0.517593  1.417416  1.181565
2022-08-31 -0.671057  1.124589  2.164357 -0.333868
2022-09-30 -1.285611  0.984618  0.286207 -1.237171
2022-10-31  0.989954 -1.380345 -0.469666  0.406056
2022-11-30  0.393329  1.558213 -0.364509 -0.097769
2022-12-31  0.510137  1.397008  0.640894 -0.538473
2023-01-31  2.061361 -0.082628 -0.522860  0.474630
2023-02-28  0.543606 -1.736423 -1.774218  0.816799
2023-03-31  2.580836 -0.613401  1.560530 -0.992333
2023-04-30 -0.633930  0.716584  0.057365  0.549967
2023-05-31  1.138001 -0.076029  0.175327 -2.141970
2023-06-30 -0.196681  0.166957  0.845992 -1.377000
2023-07-31  1.481123  1.804874  1.456326 -0.016570
2023-08-31  0.067670 -0.429076  0.176473  0.102447
2023-09-30 -1.280562  0.923414 -0.427213  0.533603
2023-10-31  1.409583  0.617452  0.242142 -1.970104
2023-11-30  0.893406  0.716013 -1.684265  0.140330
2023-12-31 -1.804442 -1.647173  1.958492  0.220067
2024-01-31  0.642698  0.609125  2.139652  0.525636
2024-02-29  0.275976  0.689187 -0.230272 -0.476985
2024-03-31  0.124073 -1.306080  0.067167  0.865069
2024-04-30  1.291689  0.118145 -0.896962 -1.063339
2024-05-31 -0.473723 -0.723156  0.729884 -0.235571
2024-06-30 -1.496392  1.116139  0.498743 -1.641788
2024-07-31  0.546926 -0.152453 -0.150961 -0.296686
2024-08-31 -1.973047 -1.011556  1.984050  0.146251
2024-09-30  0.583907 -0.120432  0.513792 -0.641523
2024-10-31  0.590329  0.011042  0.661333 -1.718706
2024-11-30  0.731427  0.596777  0.145018  1.402735
2024-12-31 -0.912972  1.363579  0.862518 -0.293207
2025-01-31  0.637584  1.337223  0.782096 -0.843340
2025-02-28  0.521517  0.336400 -1.394476  2.678813
2025-03-31  0.408277 -0.029037  0.481535 -0.181445
2025-04-30 -0.176548 -0.462875  0.893560  0.275516
2025-05-31  0.167867 -0.716050 -0.765830  0.030973
2025-06-30 -1.086835 -1.855858  1.687325 -0.714902

In [8]:
df.head()

                   A         B         C         D
2022-07-31 -1.271262 -0.517593  1.417416  1.181565
2022-08-31 -0.671057  1.124589  2.164357 -0.333868
2022-09-30 -1.285611  0.984618  0.286207 -1.237171
2022-10-31  0.989954 -1.380345 -0.469666  0.406056
2022-11-30  0.393329  1.558213 -0.364509 -0.097769

In [9]:
#传递一个能够被转换为类似series的dict对象来创建一个DataFrame
df2 = pd.DataFrame({
    'A':1.,
    'B':pd.Timestamp('20220725'),
    'C':pd.Series(1,index=list(range(1,5)),dtype='float32'),
    'D':np.array([3]*4,dtype='int32'),
    'E':pd.Categorical(["test","train","test","train"]),
    'F':'foo'
})
df2

     A          B    C  D      E    F
1  1.0 2022-07-25  1.0  3   test  foo
2  1.0 2022-07-25  1.0  3  train  foo
3  1.0 2022-07-25  1.0  3   test  foo
4  1.0 2022-07-25  1.0  3  train  foo

In [10]:
#查看各列的数据类型
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [11]:
#查看数据
#查看DataFrame的头部和尾部几行
df.head()

                   A         B         C         D
2022-07-31 -1.271262 -0.517593  1.417416  1.181565
2022-08-31 -0.671057  1.124589  2.164357 -0.333868
2022-09-30 -1.285611  0.984618  0.286207 -1.237171
2022-10-31  0.989954 -1.380345 -0.469666  0.406056
2022-11-30  0.393329  1.558213 -0.364509 -0.097769

In [12]:
df.tail()

                   A         B         C         D
2025-02-28  0.521517  0.336400 -1.394476  2.678813
2025-03-31  0.408277 -0.029037  0.481535 -0.181445
2025-04-30 -0.176548 -0.462875  0.893560  0.275516
2025-05-31  0.167867 -0.716050 -0.765830  0.030973
2025-06-30 -1.086835 -1.855858  1.687325 -0.714902

In [13]:
df.tail(3)

                   A         B         C         D
2025-04-30 -0.176548 -0.462875  0.893560  0.275516
2025-05-31  0.167867 -0.716050 -0.765830  0.030973
2025-06-30 -1.086835 -1.855858  1.687325 -0.714902

In [14]:
#显示索引、列名以及底层的numpy数据
df.index

DatetimeIndex(['2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31',
               '2022-11-30', '2022-12-31', '2023-01-31', '2023-02-28',
               '2023-03-31', '2023-04-30', '2023-05-31', '2023-06-30',
               '2023-07-31', '2023-08-31', '2023-09-30', '2023-10-31',
               '2023-11-30', '2023-12-31', '2024-01-31', '2024-02-29',
               '2024-03-31', '2024-04-30', '2024-05-31', '2024-06-30',
               '2024-07-31', '2024-08-31', '2024-09-30', '2024-10-31',
               '2024-11-30', '2024-12-31', '2025-01-31', '2025-02-28',
               '2025-03-31', '2025-04-30', '2025-05-31', '2025-06-30'],
              dtype='datetime64[ns]', freq='M')

In [15]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
df.values

array([[-1.27126176, -0.5175931 ,  1.41741608,  1.18156514],
       [-0.67105691,  1.12458878,  2.16435651, -0.33386825],
       [-1.2856109 ,  0.98461803,  0.28620694, -1.23717059],
       [ 0.9899541 , -1.38034471, -0.4696658 ,  0.40605597],
       [ 0.39332885,  1.55821257, -0.36450874, -0.09776932],
       [ 0.51013747,  1.397008  ,  0.64089375, -0.53847269],
       [ 2.06136119, -0.08262818, -0.52286022,  0.47462986],
       [ 0.54360566, -1.73642296, -1.77421774,  0.81679899],
       [ 2.58083638, -0.61340095,  1.56052974, -0.99233285],
       [-0.63392961,  0.71658388,  0.05736498,  0.54996747],
       [ 1.13800087, -0.07602856,  0.17532686, -2.14196951],
       [-0.19668113,  0.16695744,  0.8459916 , -1.37700049],
       [ 1.48112312,  1.80487401,  1.4563264 , -0.0165699 ],
       [ 0.06766984, -0.4290761 ,  0.1764732 ,  0.10244705],
       [-1.28056226,  0.92341425, -0.42721282,  0.53360286],
       [ 1.40958314,  0.61745181,  0.24214231, -1.97010445],
       [ 0.89340588,  0.716013  , -1.68426484,  0.14033016],
       [-1.80444244, -1.64717295,  1.95849217,  0.2200668 ],
       [ 0.64269837,  0.60912476,  2.13965185,  0.52563571],
       [ 0.27597648,  0.68918707, -0.23027178, -0.47698512],
       [ 0.1240734 , -1.30608043,  0.06716679,  0.86506896],
       [ 1.2916889 ,  0.11814479, -0.89696197, -1.06333875],
       [-0.47372269, -0.72315609,  0.72988386, -0.23557117],
       [-1.49639236,  1.11613862,  0.49874291, -1.64178776],
       [ 0.54692619, -0.15245275, -0.15096148, -0.29668637],
       [-1.97304681, -1.01155577,  1.98404959,  0.14625071],
       [ 0.5839073 , -0.1204317 ,  0.51379242, -0.64152286],
       [ 0.59032948,  0.01104161,  0.66133266, -1.71870615],
       [ 0.73142714,  0.59677707,  0.14501772,  1.40273544],
       [-0.91297178,  1.36357871,  0.86251751, -0.29320688],
       [ 0.63758434,  1.33722273,  0.78209563, -0.84334031],
       [ 0.52151738,  0.33639979, -1.39447552,  2.67881292],
       [ 0.40827716, -0.02903681,  0.48153491, -0.18144486],
       [-0.17654766, -0.46287508,  0.89355991,  0.27551563],
       [ 0.16786666, -0.71604969, -0.76583015,  0.0309731 ],
       [-1.08683544, -1.85585781,  1.68732452, -0.71490233]])

In [17]:
#describe()能对数据做一个快速统计汇总
df.describe()

               A          B          C          D
count  36.000000  36.000000  36.000000  36.000000
mean    0.148006   0.092421   0.381860  -0.179508
std     1.070624   0.985770   1.023012   0.991705
min    -1.973047  -1.855858  -1.774218  -2.141970
25%    -0.643211  -0.541545  -0.263831  -0.747012
50%     0.400803   0.064593   0.383871  -0.139607
75%     0.664881   0.768291   0.870278   0.423199
max     2.580836   1.804874   2.164357   2.678813

In [18]:
df2.describe()#只统计有数值的列

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [19]:
#对数据做转置
df.T

,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,...,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28,2025-03-31,2025-04-30,2025-05-31,2025-06-30
A,-1.271262,-0.671057,-1.285611,0.989954,0.393329,0.510137,2.061361,0.543606,2.580836,-0.633930,...,0.583907,0.590329,0.731427,-0.912972,0.637584,0.521517,0.408277,-0.176548,0.167867,-1.086835
B,-0.517593,1.124589,0.984618,-1.380345,1.558213,1.397008,-0.082628,-1.736423,-0.613401,0.716584,...,-0.120432,0.011042,0.596777,1.363579,1.337223,0.336400,-0.029037,-0.462875,-0.716050,-1.855858
C,1.417416,2.164357,0.286207,-0.469666,-0.364509,0.640894,-0.522860,-1.774218,1.560530,0.057365,...,0.513792,0.661333,0.145018,0.862518,0.782096,-1.394476,0.481535,0.893560,-0.765830,1.687325
D,1.181565,-0.333868,-1.237171,0.406056,-0.097769,-0.538473,0.474630,0.816799,-0.992333,0.549967,...,-0.641523,-1.718706,1.402735,-0.293207,-0.843340,2.678813,-0.181445,0.275516,0.030973,-0.714902

In [20]:
df2.T

,1,2,3,4
A,1,1,1,1
B,2022-07-25 00:00:00,2022-07-25 00:00:00,2022-07-25 00:00:00,2022-07-25 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [21]:
#按轴进行排序
df.sort_index(ascending=False)

                   A         B         C         D
2025-06-30 -1.086835 -1.855858  1.687325 -0.714902
2025-05-31  0.167867 -0.716050 -0.765830  0.030973
2025-04-30 -0.176548 -0.462875  0.893560  0.275516
2025-03-31  0.408277 -0.029037  0.481535 -0.181445
2025-02-28  0.521517  0.336400 -1.394476  2.678813
2025-01-31  0.637584  1.337223  0.782096 -0.843340
2024-12-31 -0.912972  1.363579  0.862518 -0.293207
2024-11-30  0.731427  0.596777  0.145018  1.402735
2024-10-31  0.590329  0.011042  0.661333 -1.718706
2024-09-30  0.583907 -0.120432  0.513792 -0.641523
2024-08-31 -1.973047 -1.011556  1.984050  0.146251
2024-07-31  0.546926 -0.152453 -0.150961 -0.296686
2024-06-30 -1.496392  1.116139  0.498743 -1.641788
2024-05-31 -0.473723 -0.723156  0.729884 -0.235571
2024-04-30  1.291689  0.118145 -0.896962 -1.063339
2024-03-31  0.124073 -1.306080  0.067167  0.865069
2024-02-29  0.275976  0.689187 -0.230272 -0.476985
2024-01-31  0.642698  0.609125  2.139652  0.525636
2023-12-31 -1.804442 -1.647173  1.958492  0.220067
2023-11-30  0.893406  0.716013 -1.684265  0.140330
2023-10-31  1.409583  0.617452  0.242142 -1.970104
2023-09-30 -1.280562  0.923414 -0.427213  0.533603
2023-08-31  0.067670 -0.429076  0.176473  0.102447
2023-07-31  1.481123  1.804874  1.456326 -0.016570
2023-06-30 -0.196681  0.166957  0.845992 -1.377000
2023-05-31  1.138001 -0.076029  0.175327 -2.141970
2023-04-30 -0.633930  0.716584  0.057365  0.549967
2023-03-31  2.580836 -0.613401  1.560530 -0.992333
2023-02-28  0.543606 -1.736423 -1.774218  0.816799
2023-01-31  2.061361 -0.082628 -0.522860  0.474630
2022-12-31  0.510137  1.397008  0.640894 -0.538473
2022-11-30  0.393329  1.558213 -0.364509 -0.097769
2022-10-31  0.989954 -1.380345 -0.469666  0.406056
2022-09-30 -1.285611  0.984618  0.286207 -1.237171
2022-08-31 -0.671057  1.124589  2.164357 -0.333868
2022-07-31 -1.271262 -0.517593  1.417416  1.181565

In [22]:
df.sort_index()

                   A         B         C         D
2022-07-31 -1.271262 -0.517593  1.417416  1.181565
2022-08-31 -0.671057  1.124589  2.164357 -0.333868
2022-09-30 -1.285611  0.984618  0.286207 -1.237171
2022-10-31  0.989954 -1.380345 -0.469666  0.406056
2022-11-30  0.393329  1.558213 -0.364509 -0.097769
2022-12-31  0.510137  1.397008  0.640894 -0.538473
2023-01-31  2.061361 -0.082628 -0.522860  0.474630
2023-02-28  0.543606 -1.736423 -1.774218  0.816799
2023-03-31  2.580836 -0.613401  1.560530 -0.992333
2023-04-30 -0.633930  0.716584  0.057365  0.549967
2023-05-31  1.138001 -0.076029  0.175327 -2.141970
2023-06-30 -0.196681  0.166957  0.845992 -1.377000
2023-07-31  1.481123  1.804874  1.456326 -0.016570
2023-08-31  0.067670 -0.429076  0.176473  0.102447
2023-09-30 -1.280562  0.923414 -0.427213  0.533603
2023-10-31  1.409583  0.617452  0.242142 -1.970104
2023-11-30  0.893406  0.716013 -1.684265  0.140330
2023-12-31 -1.804442 -1.647173  1.958492  0.220067
2024-01-31  0.642698  0.609125  2.139652  0.525636
2024-02-29  0.275976  0.689187 -0.230272 -0.476985
2024-03-31  0.124073 -1.306080  0.067167  0.865069
2024-04-30  1.291689  0.118145 -0.896962 -1.063339
2024-05-31 -0.473723 -0.723156  0.729884 -0.235571
2024-06-30 -1.496392  1.116139  0.498743 -1.641788
2024-07-31  0.546926 -0.152453 -0.150961 -0.296686
2024-08-31 -1.973047 -1.011556  1.984050  0.146251
2024-09-30  0.583907 -0.120432  0.513792 -0.641523
2024-10-31  0.590329  0.011042  0.661333 -1.718706
2024-11-30  0.731427  0.596777  0.145018  1.402735
2024-12-31 -0.912972  1.363579  0.862518 -0.293207
2025-01-31  0.637584  1.337223  0.782096 -0.843340
2025-02-28  0.521517  0.336400 -1.394476  2.678813
2025-03-31  0.408277 -0.029037  0.481535 -0.181445
2025-04-30 -0.176548 -0.462875  0.893560  0.275516
2025-05-31  0.167867 -0.716050 -0.765830  0.030973
2025-06-30 -1.086835 -1.855858  1.687325 -0.714902

In [23]:
df.sort_index(axis=1)

                   A         B         C         D
2022-07-31 -1.271262 -0.517593  1.417416  1.181565
2022-08-31 -0.671057  1.124589  2.164357 -0.333868
2022-09-30 -1.285611  0.984618  0.286207 -1.237171
2022-10-31  0.989954 -1.380345 -0.469666  0.406056
2022-11-30  0.393329  1.558213 -0.364509 -0.097769
2022-12-31  0.510137  1.397008  0.640894 -0.538473
2023-01-31  2.061361 -0.082628 -0.522860  0.474630
2023-02-28  0.543606 -1.736423 -1.774218  0.816799
2023-03-31  2.580836 -0.613401  1.560530 -0.992333
2023-04-30 -0.633930  0.716584  0.057365  0.549967
2023-05-31  1.138001 -0.076029  0.175327 -2.141970
2023-06-30 -0.196681  0.166957  0.845992 -1.377000
2023-07-31  1.481123  1.804874  1.456326 -0.016570
2023-08-31  0.067670 -0.429076  0.176473  0.102447
2023-09-30 -1.280562  0.923414 -0.427213  0.533603
2023-10-31  1.409583  0.617452  0.242142 -1.970104
2023-11-30  0.893406  0.716013 -1.684265  0.140330
2023-12-31 -1.804442 -1.647173  1.958492  0.220067
2024-01-31  0.642698  0.609125  2.139652  0.525636
2024-02-29  0.275976  0.689187 -0.230272 -0.476985
2024-03-31  0.124073 -1.306080  0.067167  0.865069
2024-04-30  1.291689  0.118145 -0.896962 -1.063339
2024-05-31 -0.473723 -0.723156  0.729884 -0.235571
2024-06-30 -1.496392  1.116139  0.498743 -1.641788
2024-07-31  0.546926 -0.152453 -0.150961 -0.296686
2024-08-31 -1.973047 -1.011556  1.984050  0.146251
2024-09-30  0.583907 -0.120432  0.513792 -0.641523
2024-10-31  0.590329  0.011042  0.661333 -1.718706
2024-11-30  0.731427  0.596777  0.145018  1.402735
2024-12-31 -0.912972  1.363579  0.862518 -0.293207
2025-01-31  0.637584  1.337223  0.782096 -0.843340
2025-02-28  0.521517  0.336400 -1.394476  2.678813
2025-03-31  0.408277 -0.029037  0.481535 -0.181445
2025-04-30 -0.176548 -0.462875  0.893560  0.275516
2025-05-31  0.167867 -0.716050 -0.765830  0.030973
2025-06-30 -1.086835 -1.855858  1.687325 -0.714902

In [24]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2022-07-31  1.181565  1.417416 -0.517593 -1.271262
2022-08-31 -0.333868  2.164357  1.124589 -0.671057
2022-09-30 -1.237171  0.286207  0.984618 -1.285611
2022-10-31  0.406056 -0.469666 -1.380345  0.989954
2022-11-30 -0.097769 -0.364509  1.558213  0.393329
2022-12-31 -0.538473  0.640894  1.397008  0.510137
2023-01-31  0.474630 -0.522860 -0.082628  2.061361
2023-02-28  0.816799 -1.774218 -1.736423  0.543606
2023-03-31 -0.992333  1.560530 -0.613401  2.580836
2023-04-30  0.549967  0.057365  0.716584 -0.633930
2023-05-31 -2.141970  0.175327 -0.076029  1.138001
2023-06-30 -1.377000  0.845992  0.166957 -0.196681
2023-07-31 -0.016570  1.456326  1.804874  1.481123
2023-08-31  0.102447  0.176473 -0.429076  0.067670
2023-09-30  0.533603 -0.427213  0.923414 -1.280562
2023-10-31 -1.970104  0.242142  0.617452  1.409583
2023-11-30  0.140330 -1.684265  0.716013  0.893406
2023-12-31  0.220067  1.958492 -1.647173 -1.804442
2024-01-31  0.525636  2.139652  0.609125  0.642698
2024-02-29 -0.476985 -0.230272  0.689187  0.275976
2024-03-31  0.865069  0.067167 -1.306080  0.124073
2024-04-30 -1.063339 -0.896962  0.118145  1.291689
2024-05-31 -0.235571  0.729884 -0.723156 -0.473723
2024-06-30 -1.641788  0.498743  1.116139 -1.496392
2024-07-31 -0.296686 -0.150961 -0.152453  0.546926
2024-08-31  0.146251  1.984050 -1.011556 -1.973047
2024-09-30 -0.641523  0.513792 -0.120432  0.583907
2024-10-31 -1.718706  0.661333  0.011042  0.590329
2024-11-30  1.402735  0.145018  0.596777  0.731427
2024-12-31 -0.293207  0.862518  1.363579 -0.912972
2025-01-31 -0.843340  0.782096  1.337223  0.637584
2025-02-28  2.678813 -1.394476  0.336400  0.521517
2025-03-31 -0.181445  0.481535 -0.029037  0.408277
2025-04-30  0.275516  0.893560 -0.462875 -0.176548
2025-05-31  0.030973 -0.765830 -0.716050  0.167867
2025-06-30 -0.714902  1.687325 -1.855858 -1.086835

In [25]:
#按值进行排序
df.sort_values(by='B')

                   A         B         C         D
2025-06-30 -1.086835 -1.855858  1.687325 -0.714902
2023-02-28  0.543606 -1.736423 -1.774218  0.816799
2023-12-31 -1.804442 -1.647173  1.958492  0.220067
2022-10-31  0.989954 -1.380345 -0.469666  0.406056
2024-03-31  0.124073 -1.306080  0.067167  0.865069
2024-08-31 -1.973047 -1.011556  1.984050  0.146251
2024-05-31 -0.473723 -0.723156  0.729884 -0.235571
2025-05-31  0.167867 -0.716050 -0.765830  0.030973
2023-03-31  2.580836 -0.613401  1.560530 -0.992333
2022-07-31 -1.271262 -0.517593  1.417416  1.181565
2025-04-30 -0.176548 -0.462875  0.893560  0.275516
2023-08-31  0.067670 -0.429076  0.176473  0.102447
2024-07-31  0.546926 -0.152453 -0.150961 -0.296686
2024-09-30  0.583907 -0.120432  0.513792 -0.641523
2023-01-31  2.061361 -0.082628 -0.522860  0.474630
2023-05-31  1.138001 -0.076029  0.175327 -2.141970
2025-03-31  0.408277 -0.029037  0.481535 -0.181445
2024-10-31  0.590329  0.011042  0.661333 -1.718706
2024-04-30  1.291689  0.118145 -0.896962 -1.063339
2023-06-30 -0.196681  0.166957  0.845992 -1.377000
2025-02-28  0.521517  0.336400 -1.394476  2.678813
2024-11-30  0.731427  0.596777  0.145018  1.402735
2024-01-31  0.642698  0.609125  2.139652  0.525636
2023-10-31  1.409583  0.617452  0.242142 -1.970104
2024-02-29  0.275976  0.689187 -0.230272 -0.476985
2023-11-30  0.893406  0.716013 -1.684265  0.140330
2023-04-30 -0.633930  0.716584  0.057365  0.549967
2023-09-30 -1.280562  0.923414 -0.427213  0.533603
2022-09-30 -1.285611  0.984618  0.286207 -1.237171
2024-06-30 -1.496392  1.116139  0.498743 -1.641788
2022-08-31 -0.671057  1.124589  2.164357 -0.333868
2025-01-31  0.637584  1.337223  0.782096 -0.843340
2024-12-31 -0.912972  1.363579  0.862518 -0.293207
2022-12-31  0.510137  1.397008  0.640894 -0.538473
2022-11-30  0.393329  1.558213 -0.364509 -0.097769
2023-07-31  1.481123  1.804874  1.456326 -0.016570

In [26]:
df.sort_values(by='B',ascending=False)

                   A         B         C         D
2023-07-31  1.481123  1.804874  1.456326 -0.016570
2022-11-30  0.393329  1.558213 -0.364509 -0.097769
2022-12-31  0.510137  1.397008  0.640894 -0.538473
2024-12-31 -0.912972  1.363579  0.862518 -0.293207
2025-01-31  0.637584  1.337223  0.782096 -0.843340
2022-08-31 -0.671057  1.124589  2.164357 -0.333868
2024-06-30 -1.496392  1.116139  0.498743 -1.641788
2022-09-30 -1.285611  0.984618  0.286207 -1.237171
2023-09-30 -1.280562  0.923414 -0.427213  0.533603
2023-04-30 -0.633930  0.716584  0.057365  0.549967
2023-11-30  0.893406  0.716013 -1.684265  0.140330
2024-02-29  0.275976  0.689187 -0.230272 -0.476985
2023-10-31  1.409583  0.617452  0.242142 -1.970104
2024-01-31  0.642698  0.609125  2.139652  0.525636
2024-11-30  0.731427  0.596777  0.145018  1.402735
2025-02-28  0.521517  0.336400 -1.394476  2.678813
2023-06-30 -0.196681  0.166957  0.845992 -1.377000
2024-04-30  1.291689  0.118145 -0.896962 -1.063339
2024-10-31  0.590329  0.011042  0.661333 -1.718706
2025-03-31  0.408277 -0.029037  0.481535 -0.181445
2023-05-31  1.138001 -0.076029  0.175327 -2.141970
2023-01-31  2.061361 -0.082628 -0.522860  0.474630
2024-09-30  0.583907 -0.120432  0.513792 -0.641523
2024-07-31  0.546926 -0.152453 -0.150961 -0.296686
2023-08-31  0.067670 -0.429076  0.176473  0.102447
2025-04-30 -0.176548 -0.462875  0.893560  0.275516
2022-07-31 -1.271262 -0.517593  1.417416  1.181565
2023-03-31  2.580836 -0.613401  1.560530 -0.992333
2025-05-31  0.167867 -0.716050 -0.765830  0.030973
2024-05-31 -0.473723 -0.723156  0.729884 -0.235571
2024-08-31 -1.973047 -1.011556  1.984050  0.146251
2024-03-31  0.124073 -1.306080  0.067167  0.865069
2022-10-31  0.989954 -1.380345 -0.469666  0.406056
2023-12-31 -1.804442 -1.647173  1.958492  0.220067
2023-02-28  0.543606 -1.736423 -1.774218  0.816799
2025-06-30 -1.086835 -1.855858  1.687325 -0.714902

# 数据选择
### 虽然标准的python/numpy表达式能完成选择和赋值等功能，但仍然推荐使用优化过的Pandas数据访问方法
#### .at .iat .loc .iloc .ix

## 选取

In [27]:
#选择某一列数据，会返回一个Series 等同于df.A
df['A']#会带着Index一起输出

2022-07-31   -1.271262
2022-08-31   -0.671057
2022-09-30   -1.285611
2022-10-31    0.989954
2022-11-30    0.393329
2022-12-31    0.510137
2023-01-31    2.061361
2023-02-28    0.543606
2023-03-31    2.580836
2023-04-30   -0.633930
2023-05-31    1.138001
2023-06-30   -0.196681
2023-07-31    1.481123
2023-08-31    0.067670
2023-09-30   -1.280562
2023-10-31    1.409583
2023-11-30    0.893406
2023-12-31   -1.804442
2024-01-31    0.642698
2024-02-29    0.275976
2024-03-31    0.124073
2024-04-30    1.291689
2024-05-31   -0.473723
2024-06-30   -1.496392
2024-07-31    0.546926
2024-08-31   -1.973047
2024-09-30    0.583907
2024-10-31    0.590329
2024-11-30    0.731427
2024-12-31   -0.912972
2025-01-31    0.637584
2025-02-28    0.521517
2025-03-31    0.408277
2025-04-30   -0.176548
2025-05-31    0.167867
2025-06-30   -1.086835
Freq: M, Name: A, dtype: float64

In [28]:
df.A

2022-07-31   -1.271262
2022-08-31   -0.671057
2022-09-30   -1.285611
2022-10-31    0.989954
2022-11-30    0.393329
2022-12-31    0.510137
2023-01-31    2.061361
2023-02-28    0.543606
2023-03-31    2.580836
2023-04-30   -0.633930
2023-05-31    1.138001
2023-06-30   -0.196681
2023-07-31    1.481123
2023-08-31    0.067670
2023-09-30   -1.280562
2023-10-31    1.409583
2023-11-30    0.893406
2023-12-31   -1.804442
2024-01-31    0.642698
2024-02-29    0.275976
2024-03-31    0.124073
2024-04-30    1.291689
2024-05-31   -0.473723
2024-06-30   -1.496392
2024-07-31    0.546926
2024-08-31   -1.973047
2024-09-30    0.583907
2024-10-31    0.590329
2024-11-30    0.731427
2024-12-31   -0.912972
2025-01-31    0.637584
2025-02-28    0.521517
2025-03-31    0.408277
2025-04-30   -0.176548
2025-05-31    0.167867
2025-06-30   -1.086835
Freq: M, Name: A, dtype: float64

In [29]:
df[0:3]

                   A         B         C         D
2022-07-31 -1.271262 -0.517593  1.417416  1.181565
2022-08-31 -0.671057  1.124589  2.164357 -0.333868
2022-09-30 -1.285611  0.984618  0.286207 -1.237171

In [30]:
df.head(3)

                   A         B         C         D
2022-07-31 -1.271262 -0.517593  1.417416  1.181565
2022-08-31 -0.671057  1.124589  2.164357 -0.333868
2022-09-30 -1.285611  0.984618  0.286207 -1.237171

In [31]:
df['2022-08-31':'2022-10-31']

                   A         B         C         D
2022-08-31 -0.671057  1.124589  2.164357 -0.333868
2022-09-30 -1.285611  0.984618  0.286207 -1.237171
2022-10-31  0.989954 -1.380345 -0.469666  0.406056

In [32]:
dates

DatetimeIndex(['2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31',
               '2022-11-30', '2022-12-31', '2023-01-31', '2023-02-28',
               '2023-03-31', '2023-04-30', '2023-05-31', '2023-06-30',
               '2023-07-31', '2023-08-31', '2023-09-30', '2023-10-31',
               '2023-11-30', '2023-12-31', '2024-01-31', '2024-02-29',
               '2024-03-31', '2024-04-30', '2024-05-31', '2024-06-30',
               '2024-07-31', '2024-08-31', '2024-09-30', '2024-10-31',
               '2024-11-30', '2024-12-31', '2025-01-31', '2025-02-28',
               '2025-03-31', '2025-04-30', '2025-05-31', '2025-06-30'],
              dtype='datetime64[ns]', freq='M')

In [33]:
#通过标签选取
#通过标签进行交叉选取
df.loc[dates[0]]

A   -1.271262
B   -0.517593
C    1.417416
D    1.181565
Name: 2022-07-31 00:00:00, dtype: float64

In [34]:
df.head(1)

                   A         B         C         D
2022-07-31 -1.271262 -0.517593  1.417416  1.181565

In [35]:
dates[0]

Timestamp('2022-07-31 00:00:00', freq='M')

In [36]:
df[dates[0]]

KeyError: Timestamp('2022-07-31 00:00:00', freq='M')

In [37]:
#使用标签对多个轴进行选取
df.loc[:,['A','C']]#冒号表示选取所有行

                   A         C
2022-07-31 -1.271262  1.417416
2022-08-31 -0.671057  2.164357
2022-09-30 -1.285611  0.286207
2022-10-31  0.989954 -0.469666
2022-11-30  0.393329 -0.364509
2022-12-31  0.510137  0.640894
2023-01-31  2.061361 -0.522860
2023-02-28  0.543606 -1.774218
2023-03-31  2.580836  1.560530
2023-04-30 -0.633930  0.057365
2023-05-31  1.138001  0.175327
2023-06-30 -0.196681  0.845992
2023-07-31  1.481123  1.456326
2023-08-31  0.067670  0.176473
2023-09-30 -1.280562 -0.427213
2023-10-31  1.409583  0.242142
2023-11-30  0.893406 -1.684265
2023-12-31 -1.804442  1.958492
2024-01-31  0.642698  2.139652
2024-02-29  0.275976 -0.230272
2024-03-31  0.124073  0.067167
2024-04-30  1.291689 -0.896962
2024-05-31 -0.473723  0.729884
2024-06-30 -1.496392  0.498743
2024-07-31  0.546926 -0.150961
2024-08-31 -1.973047  1.984050
2024-09-30  0.583907  0.513792
2024-10-31  0.590329  0.661333
2024-11-30  0.731427  0.145018
2024-12-31 -0.912972  0.862518
2025-01-31  0.637584  0.782096
2025-02-28  0.521517 -1.394476
2025-03-31  0.408277  0.481535
2025-04-30 -0.176548  0.893560
2025-05-31  0.167867 -0.765830
2025-06-30 -1.086835  1.687325

In [38]:
df.loc[:,['A','B']][-3:]

                   A         B
2025-04-30 -0.176548 -0.462875
2025-05-31  0.167867 -0.716050
2025-06-30 -1.086835 -1.855858

In [39]:
#进行标签切片，包含两个端点
df.loc['2022-07-31':'2022-09-30',['B','C']]

                   B         C
2022-07-31 -0.517593  1.417416
2022-08-31  1.124589  2.164357
2022-09-30  0.984618  0.286207

In [40]:
#对于返回的对象进行降维处理
df.loc['2022-07-31',['B','C']]

B   -0.517593
C    1.417416
Name: 2022-07-31 00:00:00, dtype: float64

In [41]:
#获取一个标量
df.loc[dates[0],'A']

-1.2712617637969756

In [42]:
#快速获取标量（与loc等价）
df.at[dates[0],'A']

-1.2712617637969756

# 通过位置选取
## 通过传递整型的位置进行选取

In [43]:
df.iloc[2]

A   -1.285611
B    0.984618
C    0.286207
D   -1.237171
Name: 2022-09-30 00:00:00, dtype: float64

In [44]:
df.loc[dates[2]]

A   -1.285611
B    0.984618
C    0.286207
D   -1.237171
Name: 2022-09-30 00:00:00, dtype: float64

In [45]:
#通过整型的位置切片进行选取
#与python/numpy形式相同
#用整型选取的都是左闭右开
df.iloc[2:3,2:4]

                   C         D
2022-09-30  0.286207 -1.237171

In [46]:
df.loc['2022-07-31':'2022-09-30','A':'C']
#用loc的都是闭

                   A         B         C
2022-07-31 -1.271262 -0.517593  1.417416
2022-08-31 -0.671057  1.124589  2.164357
2022-09-30 -1.285611  0.984618  0.286207

In [47]:
#只对行进行切片
df.iloc[1:3,:]

                   A         B         C         D
2022-08-31 -0.671057  1.124589  2.164357 -0.333868
2022-09-30 -1.285611  0.984618  0.286207 -1.237171

In [48]:
#只对列进行切片
df.iloc[:,1:3]

                   B         C
2022-07-31 -0.517593  1.417416
2022-08-31  1.124589  2.164357
2022-09-30  0.984618  0.286207
2022-10-31 -1.380345 -0.469666
2022-11-30  1.558213 -0.364509
2022-12-31  1.397008  0.640894
2023-01-31 -0.082628 -0.522860
2023-02-28 -1.736423 -1.774218
2023-03-31 -0.613401  1.560530
2023-04-30  0.716584  0.057365
2023-05-31 -0.076029  0.175327
2023-06-30  0.166957  0.845992
2023-07-31  1.804874  1.456326
2023-08-31 -0.429076  0.176473
2023-09-30  0.923414 -0.427213
2023-10-31  0.617452  0.242142
2023-11-30  0.716013 -1.684265
2023-12-31 -1.647173  1.958492
2024-01-31  0.609125  2.139652
2024-02-29  0.689187 -0.230272
2024-03-31 -1.306080  0.067167
2024-04-30  0.118145 -0.896962
2024-05-31 -0.723156  0.729884
2024-06-30  1.116139  0.498743
2024-07-31 -0.152453 -0.150961
2024-08-31 -1.011556  1.984050
2024-09-30 -0.120432  0.513792
2024-10-31  0.011042  0.661333
2024-11-30  0.596777  0.145018
2024-12-31  1.363579  0.862518
2025-01-31  1.337223  0.782096
2025-02-28  0.336400 -1.394476
2025-03-31 -0.029037  0.481535
2025-04-30 -0.462875  0.893560
2025-05-31 -0.716050 -0.765830
2025-06-30 -1.855858  1.687325

In [49]:
#只获取某个值
df.iloc[1,1]

1.1245887817599953

In [50]:
#快速获取某个值
#与iloc等价
df.iat[1,1]

1.1245887817599953

# 布尔索引
## 用某列的值来选取数据

In [51]:
df[df.B > 1]

                   A         B         C         D
2022-08-31 -0.671057  1.124589  2.164357 -0.333868
2022-11-30  0.393329  1.558213 -0.364509 -0.097769
2022-12-31  0.510137  1.397008  0.640894 -0.538473
2023-07-31  1.481123  1.804874  1.456326 -0.016570
2024-06-30 -1.496392  1.116139  0.498743 -1.641788
2024-12-31 -0.912972  1.363579  0.862518 -0.293207
2025-01-31  0.637584  1.337223  0.782096 -0.843340

# 用where操作来选取数据？

In [52]:
df[df > 1]

                   A         B         C         D
2022-07-31       NaN       NaN  1.417416  1.181565
2022-08-31       NaN  1.124589  2.164357       NaN
2022-09-30       NaN       NaN       NaN       NaN
2022-10-31       NaN       NaN       NaN       NaN
2022-11-30       NaN  1.558213       NaN       NaN
2022-12-31       NaN  1.397008       NaN       NaN
2023-01-31  2.061361       NaN       NaN       NaN
2023-02-28       NaN       NaN       NaN       NaN
2023-03-31  2.580836       NaN  1.560530       NaN
2023-04-30       NaN       NaN       NaN       NaN
2023-05-31  1.138001       NaN       NaN       NaN
2023-06-30       NaN       NaN       NaN       NaN
2023-07-31  1.481123  1.804874  1.456326       NaN
2023-08-31       NaN       NaN       NaN       NaN
2023-09-30       NaN       NaN       NaN       NaN
2023-10-31  1.409583       NaN       NaN       NaN
2023-11-30       NaN       NaN       NaN       NaN
2023-12-31       NaN       NaN  1.958492       NaN
2024-01-31       NaN       NaN  2.139652       NaN
2024-02-29       NaN       NaN       NaN       NaN
2024-03-31       NaN       NaN       NaN       NaN
2024-04-30  1.291689       NaN       NaN       NaN
2024-05-31       NaN       NaN       NaN       NaN
2024-06-30       NaN  1.116139       NaN       NaN
2024-07-31       NaN       NaN       NaN       NaN
2024-08-31       NaN       NaN  1.984050       NaN
2024-09-30       NaN       NaN       NaN       NaN
2024-10-31       NaN       NaN       NaN       NaN
2024-11-30       NaN       NaN       NaN  1.402735
2024-12-31       NaN  1.363579       NaN       NaN
2025-01-31       NaN  1.337223       NaN       NaN
2025-02-28       NaN       NaN       NaN  2.678813
2025-03-31       NaN       NaN       NaN       NaN
2025-04-30       NaN       NaN       NaN       NaN
2025-05-31       NaN       NaN       NaN       NaN
2025-06-30       NaN       NaN  1.687325       NaN

In [53]:
#用isin()方法来过滤数据
df3 = df.copy()
df3 = df3[0:6]

In [54]:
df3['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df3

                   A         B         C         D      E
2022-07-31 -1.271262 -0.517593  1.417416  1.181565    one
2022-08-31 -0.671057  1.124589  2.164357 -0.333868    one
2022-09-30 -1.285611  0.984618  0.286207 -1.237171    two
2022-10-31  0.989954 -1.380345 -0.469666  0.406056  three
2022-11-30  0.393329  1.558213 -0.364509 -0.097769   four
2022-12-31  0.510137  1.397008  0.640894 -0.538473  three

In [55]:
df3[df3['E'].isin(['one','four'])]

                   A         B         C         D     E
2022-07-31 -1.271262 -0.517593  1.417416  1.181565   one
2022-08-31 -0.671057  1.124589  2.164357 -0.333868   one
2022-11-30  0.393329  1.558213 -0.364509 -0.097769  four

# 赋值
### 赋值一个新的列，通过索引来自动对齐数据

In [56]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('2022-08-26',periods=6,freq='M'))
s1

2022-08-31    1
2022-09-30    2
2022-10-31    3
2022-11-30    4
2022-12-31    5
2023-01-31    6
Freq: M, dtype: int64

In [57]:
df = df.loc[:,'A':'D']
df

                   A         B         C         D
2022-07-31 -1.271262 -0.517593  1.417416  1.181565
2022-08-31 -0.671057  1.124589  2.164357 -0.333868
2022-09-30 -1.285611  0.984618  0.286207 -1.237171
2022-10-31  0.989954 -1.380345 -0.469666  0.406056
2022-11-30  0.393329  1.558213 -0.364509 -0.097769
2022-12-31  0.510137  1.397008  0.640894 -0.538473
2023-01-31  2.061361 -0.082628 -0.522860  0.474630
2023-02-28  0.543606 -1.736423 -1.774218  0.816799
2023-03-31  2.580836 -0.613401  1.560530 -0.992333
2023-04-30 -0.633930  0.716584  0.057365  0.549967
2023-05-31  1.138001 -0.076029  0.175327 -2.141970
2023-06-30 -0.196681  0.166957  0.845992 -1.377000
2023-07-31  1.481123  1.804874  1.456326 -0.016570
2023-08-31  0.067670 -0.429076  0.176473  0.102447
2023-09-30 -1.280562  0.923414 -0.427213  0.533603
2023-10-31  1.409583  0.617452  0.242142 -1.970104
2023-11-30  0.893406  0.716013 -1.684265  0.140330
2023-12-31 -1.804442 -1.647173  1.958492  0.220067
2024-01-31  0.642698  0.609125  2.139652  0.525636
2024-02-29  0.275976  0.689187 -0.230272 -0.476985
2024-03-31  0.124073 -1.306080  0.067167  0.865069
2024-04-30  1.291689  0.118145 -0.896962 -1.063339
2024-05-31 -0.473723 -0.723156  0.729884 -0.235571
2024-06-30 -1.496392  1.116139  0.498743 -1.641788
2024-07-31  0.546926 -0.152453 -0.150961 -0.296686
2024-08-31 -1.973047 -1.011556  1.984050  0.146251
2024-09-30  0.583907 -0.120432  0.513792 -0.641523
2024-10-31  0.590329  0.011042  0.661333 -1.718706
2024-11-30  0.731427  0.596777  0.145018  1.402735
2024-12-31 -0.912972  1.363579  0.862518 -0.293207
2025-01-31  0.637584  1.337223  0.782096 -0.843340
2025-02-28  0.521517  0.336400 -1.394476  2.678813
2025-03-31  0.408277 -0.029037  0.481535 -0.181445
2025-04-30 -0.176548 -0.462875  0.893560  0.275516
2025-05-31  0.167867 -0.716050 -0.765830  0.030973
2025-06-30 -1.086835 -1.855858  1.687325 -0.714902

In [58]:
df3 = df.copy()
df3 = df3[0:6]
df3

                   A         B         C         D
2022-07-31 -1.271262 -0.517593  1.417416  1.181565
2022-08-31 -0.671057  1.124589  2.164357 -0.333868
2022-09-30 -1.285611  0.984618  0.286207 -1.237171
2022-10-31  0.989954 -1.380345 -0.469666  0.406056
2022-11-30  0.393329  1.558213 -0.364509 -0.097769
2022-12-31  0.510137  1.397008  0.640894 -0.538473

In [59]:
df3['F'] = s1
df3

                   A         B         C         D    F
2022-07-31 -1.271262 -0.517593  1.417416  1.181565  NaN
2022-08-31 -0.671057  1.124589  2.164357 -0.333868  1.0
2022-09-30 -1.285611  0.984618  0.286207 -1.237171  2.0
2022-10-31  0.989954 -1.380345 -0.469666  0.406056  3.0
2022-11-30  0.393329  1.558213 -0.364509 -0.097769  4.0
2022-12-31  0.510137  1.397008  0.640894 -0.538473  5.0

In [60]:
#通过标签赋值
df3.at[dates[0], 'A'] = 0
df3

                   A         B         C         D    F
2022-07-31  0.000000 -0.517593  1.417416  1.181565  NaN
2022-08-31 -0.671057  1.124589  2.164357 -0.333868  1.0
2022-09-30 -1.285611  0.984618  0.286207 -1.237171  2.0
2022-10-31  0.989954 -1.380345 -0.469666  0.406056  3.0
2022-11-30  0.393329  1.558213 -0.364509 -0.097769  4.0
2022-12-31  0.510137  1.397008  0.640894 -0.538473  5.0

In [61]:
#通过位置赋值
df3.iat[0,1] = 0
df3

                   A         B         C         D    F
2022-07-31  0.000000  0.000000  1.417416  1.181565  NaN
2022-08-31 -0.671057  1.124589  2.164357 -0.333868  1.0
2022-09-30 -1.285611  0.984618  0.286207 -1.237171  2.0
2022-10-31  0.989954 -1.380345 -0.469666  0.406056  3.0
2022-11-30  0.393329  1.558213 -0.364509 -0.097769  4.0
2022-12-31  0.510137  1.397008  0.640894 -0.538473  5.0

In [62]:
#通过传递numpy array赋值
df3.loc[:,'D'] = np.array([7] * len(df3))
df3

                   A         B         C  D    F
2022-07-31  0.000000  0.000000  1.417416  7  NaN
2022-08-31 -0.671057  1.124589  2.164357  7  1.0
2022-09-30 -1.285611  0.984618  0.286207  7  2.0
2022-10-31  0.989954 -1.380345 -0.469666  7  3.0
2022-11-30  0.393329  1.558213 -0.364509  7  4.0
2022-12-31  0.510137  1.397008  0.640894  7  5.0

In [63]:
#通过where操作来赋值
df2 = df3.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C  D    F
2022-07-31  0.000000  0.000000 -1.417416 -7  NaN
2022-08-31 -0.671057 -1.124589 -2.164357 -7 -1.0
2022-09-30 -1.285611 -0.984618 -0.286207 -7 -2.0
2022-10-31 -0.989954 -1.380345 -0.469666 -7 -3.0
2022-11-30 -0.393329 -1.558213 -0.364509 -7 -4.0
2022-12-31 -0.510137 -1.397008 -0.640894 -7 -5.0

# 缺失值处理
#### 在pandas中，用np.nan来代表缺失值，这些值默认不参与运算。
#### reindex()允许修改、增加、删除指定轴上的索引，并返回一个数据副本

In [64]:
df1 = df2.reindex(index=dates[0:4], columns=list(df2.columns)+['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

                   A         B         C  D    F    E
2022-07-31  0.000000  0.000000 -1.417416 -7  NaN  1.0
2022-08-31 -0.671057 -1.124589 -2.164357 -7 -1.0  1.0
2022-09-30 -1.285611 -0.984618 -0.286207 -7 -2.0  NaN
2022-10-31 -0.989954 -1.380345 -0.469666 -7 -3.0  NaN

In [65]:
df2

                   A         B         C  D    F
2022-07-31  0.000000  0.000000 -1.417416 -7  NaN
2022-08-31 -0.671057 -1.124589 -2.164357 -7 -1.0
2022-09-30 -1.285611 -0.984618 -0.286207 -7 -2.0
2022-10-31 -0.989954 -1.380345 -0.469666 -7 -3.0
2022-11-30 -0.393329 -1.558213 -0.364509 -7 -4.0
2022-12-31 -0.510137 -1.397008 -0.640894 -7 -5.0

In [66]:
df1

                   A         B         C  D    F    E
2022-07-31  0.000000  0.000000 -1.417416 -7  NaN  1.0
2022-08-31 -0.671057 -1.124589 -2.164357 -7 -1.0  1.0
2022-09-30 -1.285611 -0.984618 -0.286207 -7 -2.0  NaN
2022-10-31 -0.989954 -1.380345 -0.469666 -7 -3.0  NaN

In [67]:
#剔除所有包含缺失值的行数据
df1.dropna(how='any')#只要有nan的一行都删除

                   A         B         C  D    F    E
2022-08-31 -0.671057 -1.124589 -2.164357 -7 -1.0  1.0

In [68]:
df1.dropna(how='all')#只有某行或某列全为nan才删除

                   A         B         C  D    F    E
2022-07-31  0.000000  0.000000 -1.417416 -7  NaN  1.0
2022-08-31 -0.671057 -1.124589 -2.164357 -7 -1.0  1.0
2022-09-30 -1.285611 -0.984618 -0.286207 -7 -2.0  NaN
2022-10-31 -0.989954 -1.380345 -0.469666 -7 -3.0  NaN

In [69]:
#填充缺失值
df1.fillna(value=7)

                   A         B         C  D    F    E
2022-07-31  0.000000  0.000000 -1.417416 -7  7.0  1.0
2022-08-31 -0.671057 -1.124589 -2.164357 -7 -1.0  1.0
2022-09-30 -1.285611 -0.984618 -0.286207 -7 -2.0  7.0
2022-10-31 -0.989954 -1.380345 -0.469666 -7 -3.0  7.0

In [70]:
#获取值是否为nan的布尔标记
pd.isnull(df1)

                A      B      C      D      F      E
2022-07-31  False  False  False  False   True  False
2022-08-31  False  False  False  False  False  False
2022-09-30  False  False  False  False  False   True
2022-10-31  False  False  False  False  False   True

# 运算
## 统计

In [71]:
#运算过程中，通常不包含缺失值
#进行描述性统计
df2.mean()

A   -0.641681
B   -1.074129
C   -0.890508
D   -7.000000
F   -3.000000
dtype: float64

In [72]:
df2

                   A         B         C  D    F
2022-07-31  0.000000  0.000000 -1.417416 -7  NaN
2022-08-31 -0.671057 -1.124589 -2.164357 -7 -1.0
2022-09-30 -1.285611 -0.984618 -0.286207 -7 -2.0
2022-10-31 -0.989954 -1.380345 -0.469666 -7 -3.0
2022-11-30 -0.393329 -1.558213 -0.364509 -7 -4.0
2022-12-31 -0.510137 -1.397008 -0.640894 -7 -5.0

In [73]:
df2.mean(1)

2022-07-31   -2.104354
2022-08-31   -2.392000
2022-09-30   -2.311287
2022-10-31   -2.567993
2022-11-30   -2.663210
2022-12-31   -2.909608
Freq: M, dtype: float64

In [75]:
df2.mean(0)

A   -0.641681
B   -1.074129
C   -0.890508
D   -7.000000
F   -3.000000
dtype: float64

In [76]:
df2.mean()

A   -0.641681
B   -1.074129
C   -0.890508
D   -7.000000
F   -3.000000
dtype: float64

对于拥有不同维度的对象进行运算时需要对齐
除此之外，Pandas会自动沿着指定维度计算

In [77]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [79]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates[0:6]).shift(2)
s

2022-07-31    NaN
2022-08-31    NaN
2022-09-30    1.0
2022-10-31    3.0
2022-11-30    5.0
2022-12-31    NaN
Freq: M, dtype: float64

In [80]:
df2

                   A         B         C  D    F
2022-07-31  0.000000  0.000000 -1.417416 -7  NaN
2022-08-31 -0.671057 -1.124589 -2.164357 -7 -1.0
2022-09-30 -1.285611 -0.984618 -0.286207 -7 -2.0
2022-10-31 -0.989954 -1.380345 -0.469666 -7 -3.0
2022-11-30 -0.393329 -1.558213 -0.364509 -7 -4.0
2022-12-31 -0.510137 -1.397008 -0.640894 -7 -5.0

In [81]:
df2.sub(s, axis='index')#每一列都减了s，与nan计算后都变nan

                   A         B         C     D    F
2022-07-31       NaN       NaN       NaN   NaN  NaN
2022-08-31       NaN       NaN       NaN   NaN  NaN
2022-09-30 -2.285611 -1.984618 -1.286207  -8.0 -3.0
2022-10-31 -3.989954 -4.380345 -3.469666 -10.0 -6.0
2022-11-30 -5.393329 -6.558213 -5.364509 -12.0 -9.0
2022-12-31       NaN       NaN       NaN   NaN  NaN

# Apply函数作用
## 通过apply()函数作用

In [82]:
df2.apply(np.cumsum)#按行向下做了累和

                   A         B         C   D     F
2022-07-31  0.000000  0.000000 -1.417416  -7   NaN
2022-08-31 -0.671057 -1.124589 -3.581773 -14  -1.0
2022-09-30 -1.956668 -2.109207 -3.867980 -21  -3.0
2022-10-31 -2.946622 -3.489552 -4.337645 -28  -6.0
2022-11-30 -3.339951 -5.047764 -4.702154 -35 -10.0
2022-12-31 -3.850088 -6.444772 -5.343048 -42 -15.0

In [83]:
df2.apply(lambda x:x.max()-x.min())#按列取大小的Lambda函数

A    1.285611
B    1.558213
C    1.878150
D    0.000000
F    4.000000
dtype: float64

In [84]:
# 频数统计
s = pd.Series(np.random.randint(0,7,size=10))
s

0    0
1    0
2    0
3    2
4    1
5    0
6    1
7    0
8    3
9    3
dtype: int32

In [85]:
s.value_counts()

0    5
3    2
1    2
2    1
dtype: int64

# 字符串方法

对于Series对象，在其str属性中有着一系列的字符串处理方法。

就如同下段代码一样，能很方便的对array中各个元素进行运算

值得注意的是，在str属性中的模式匹配默认使用正则表达式

In [87]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog'])
s

0       A
1       B
2       C
3    Aaba
4    Baca
5     NaN
6    CABA
7     dog
dtype: object

In [88]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
dtype: object

# 合并
## concat连接

pandas中提供了大量的方法能够轻松对Series， DataFrame和Panel对象进行不同满足逻辑关系的合并操作

In [89]:
# 通过concat()来连接Pandas对象
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0  1.245820 -0.796753  0.400694 -0.914916
1  0.305542 -0.669451  0.000356  0.915604
2  0.626743 -1.331521  0.574307 -1.704478
3 -0.459783  0.192811 -0.684285 -1.178251
4  0.853536  0.250183  0.497713 -2.239123
5 -0.130398 -2.118360 -0.222606 -1.116457
6 -1.683599 -0.331391  1.624418 -0.367187
7  3.035363 -0.299396 -0.119108  0.296535
8  0.110464  0.915969  0.143337 -0.470641
9 -1.142329 -0.175606  0.839016 -1.290831

In [90]:
#将其分块
pieces = [df[:3], df[3:7], df[7:]]
pieces

[          0         1         2         3
 0  1.245820 -0.796753  0.400694 -0.914916
 1  0.305542 -0.669451  0.000356  0.915604
 2  0.626743 -1.331521  0.574307 -1.704478,
           0         1         2         3
 3 -0.459783  0.192811 -0.684285 -1.178251
 4  0.853536  0.250183  0.497713 -2.239123
 5 -0.130398 -2.118360 -0.222606 -1.116457
 6 -1.683599 -0.331391  1.624418 -0.367187,
           0         1         2         3
 7  3.035363 -0.299396 -0.119108  0.296535
 8  0.110464  0.915969  0.143337 -0.470641
 9 -1.142329 -0.175606  0.839016 -1.290831]

In [91]:
pd.concat(pieces)

          0         1         2         3
0  1.245820 -0.796753  0.400694 -0.914916
1  0.305542 -0.669451  0.000356  0.915604
2  0.626743 -1.331521  0.574307 -1.704478
3 -0.459783  0.192811 -0.684285 -1.178251
4  0.853536  0.250183  0.497713 -2.239123
5 -0.130398 -2.118360 -0.222606 -1.116457
6 -1.683599 -0.331391  1.624418 -0.367187
7  3.035363 -0.299396 -0.119108  0.296535
8  0.110464  0.915969  0.143337 -0.470641
9 -1.142329 -0.175606  0.839016 -1.290831

# 合并
### 类似于SQL中的合并(merge)

In [93]:
left = pd.DataFrame({'key':['foo', 'foo'], 'lval':[1,2]})
left

   key  lval
0  foo     1
1  foo     2

In [94]:
right = pd.DataFrame({'key':['foo', 'foo'], 'lval':[4,5]})
right

   key  lval
0  foo     4
1  foo     5

In [95]:
pd.merge(left, right, on='key')

   key  lval_x  lval_y
0  foo       1       4
1  foo       1       5
2  foo       2       4
3  foo       2       5

# Append添加

将若干行添加到DataFrame后面

In [96]:
df = pd.DataFrame(np.random.randn(8,4), columns=['A','B','C','D'])
df

          A         B         C         D
0 -0.819880  0.570449  0.646277 -0.525357
1 -0.254169 -1.133263 -0.010954 -1.387962
2  0.342766 -0.284269  1.085436  1.274464
3  0.417863  0.943130 -1.462367 -0.066287
4 -0.383617 -0.316368  1.575767  0.875115
5  0.363556  0.936384 -0.674512 -0.184235
6  0.311986  0.041457 -0.229533  0.590338
7  2.836690 -0.716270  0.294327  0.224831

In [97]:
s = df.iloc[3]

In [98]:
s

A    0.417863
B    0.943130
C   -1.462367
D   -0.066287
Name: 3, dtype: float64

In [99]:
df.append(s, ignore_index=True)

          A         B         C         D
0 -0.819880  0.570449  0.646277 -0.525357
1 -0.254169 -1.133263 -0.010954 -1.387962
2  0.342766 -0.284269  1.085436  1.274464
3  0.417863  0.943130 -1.462367 -0.066287
4 -0.383617 -0.316368  1.575767  0.875115
5  0.363556  0.936384 -0.674512 -0.184235
6  0.311986  0.041457 -0.229533  0.590338
7  2.836690 -0.716270  0.294327  0.224831
8  0.417863  0.943130 -1.462367 -0.066287

# 分组

对于groupby操作，通常指以下一个或几个步骤：
* **划分** 按照某些标准将数据分为不同的组
* 应用 对每组数据分别执行一个函数
* 组合 将结果组合到一个数据结构

In [100]:
df = pd.DataFrame({
    'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar'],
    'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
    'C': np.random.randn(8),
    'D': np.random.randn(8)
})
df

     A      B         C         D
0  foo    one  0.411517  0.347511
1  bar    one  1.761352  0.613408
2  foo    two  0.720400  0.115298
3  bar  three -1.442336 -0.684210
4  foo    two  0.378659 -0.624740
5  bar    two -1.534762 -0.475328
6  foo    one  1.146936 -0.703541
7  bar  three  1.106045 -0.442348

In [101]:
#分组并对每个分组应用sum函数
df.groupby('A').sum()

            C         D
A
bar -0.109702 -0.988477
foo  2.657513 -0.865471

In [102]:
df.groupby('B').sum()

              C         D
B
one    3.319805  0.257379
three -0.336291 -1.126558
two   -0.435703 -0.984769

In [103]:
#按多个列分组形成层级索引，然后应用函数
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one    1.761352  0.613408
    three -0.336291 -1.126558
    two   -1.534762 -0.475328
foo one    1.558453 -0.356029
    two    1.099060 -0.509442

In [104]:
df.groupby(['B','A']).sum()

                  C         D
B     A
one   bar  1.761352  0.613408
      foo  1.558453 -0.356029
three bar -0.336291 -1.126558
two   bar -1.534762 -0.475328
      foo  1.099060 -0.509442

# 变形
## 堆叠

In [105]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
                   ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [106]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

In [107]:
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [110]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A','B'])
df

                     A         B
first second
bar   one     0.726992 -2.329681
      two     0.289185  0.335248
baz   one     1.911642 -0.066753
      two     0.965635  0.711856
foo   one    -2.649765 -0.313266
      two     0.620941  1.316784
qux   one     0.852692 -0.216236
      two    -0.515549 -1.032577

In [111]:
df2 = df[:4]
df2

                     A         B
first second
bar   one     0.726992 -2.329681
      two     0.289185  0.335248
baz   one     1.911642 -0.066753
      two     0.965635  0.711856

## stack()方法对DataFrame的列‘压缩’一个层级

In [112]:
stacked = df2.stack()
stacked

first  second
bar    one     A    0.726992
               B   -2.329681
       two     A    0.289185
               B    0.335248
baz    one     A    1.911642
               B   -0.066753
       two     A    0.965635
               B    0.711856
dtype: float64

### 对于一个‘堆叠过的’DataFrame或者Series（拥有MultiInedex作为索引）
### stack()的逆操作是unstack(),默认反堆叠到上一个层级

In [113]:
stacked.unstack()

                     A         B
first second
bar   one     0.726992 -2.329681
      two     0.289185  0.335248
baz   one     1.911642 -0.066753
      two     0.965635  0.711856

In [114]:
stacked.unstack(1)

second        one       two
first
bar   A  0.726992  0.289185
      B -2.329681  0.335248
baz   A  1.911642  0.965635
      B -0.066753  0.711856

In [115]:
stacked.unstack(0)

first          bar       baz
second
one    A  0.726992  1.911642
       B -2.329681 -0.066753
two    A  0.289185  0.965635
       B  0.335248  0.711856